**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.so
**/*.egg
**/*.egg-info
**/build
**/dist
**/.pytest_cache
**/.tox
.git
.vscode
.env
checkpoints/*.pt
checkpoints/*.pth
data/*
logs/*
!checkpoints/.gitkeep
!data/.gitkeep
!logs/.gitkeep